.box{
    background-color: yellow;
    width: 100px;
    height: 100px;
}

.boxContainer{
    background-color: aqua;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxContainerColumn{
    background-color: aquamarine;
    height: 200px;
    display: flex;
    flex-direction: column ;
}