.btn {
    border-radius: 15px;
    margin: 20px;
    padding: 10px;
    border: 2px solid black;
    color: blue;
    text-decoration: underline;
}

.container{
    border-radius: 15px;
    padding: 10px;
    border: 1px solid black;
    padding: 20px;
}

.workexperience{
    padding: 20px;
    display: flex;
    justify-content: center;
}